@import "tailwindcss";

@theme {
    --font-ubuntu : "Ubuntu", sans-serif;
    --font-inter : "Inter", sans-serif;
    --font-roboto : "Roboto", sans-serif;

        /* color theme */
    --color-aqua-700 : #207fbd;
    --color-aqua-900 : #279ae4;
}
